.viewGeneral{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.individualView{
  width: 50%;
  min-width: 500px;
  border-radius: 5px;
  margin-top: 20px;
  padding: 0 10px;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h3{
  text-align: center;
}

.imgView{
  width: 100%;
  margin: 0 auto;
}

.buttonsCont{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

button{
  width: fit-content;
  background-color: rgba(0, 0, 0, 0.815);
  border: none;
  border-radius: 5px;
  margin:10px;
  padding: 10px 15px;
  cursor: pointer;
  color: white;
  font-size: 12px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button:hover{
  background-color: rgb(245, 245, 245);
  box-shadow: 3px 2px 10px rgb(3, 3, 3);
  text-shadow: 3px 3px 3px white;
  color: black;
}


@media screen and (max-width: 690px){
  .buttonsCont{
    flex-direction: column;
  }
}

@media screen and (max-width: 530px){
  .individualView{
    width: 100%;
    min-width: 250px;
  }
}
