
h1{
  margin-top: 80px;
  margin-bottom: 50px;
  text-align: center;
  color: whitesmoke;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.studentData{
  line-height: 5px;
  margin-left: 20px;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 10px;
}


.historyContainer{
  width: 100%;
  /*border: 1px solid yellowgreen;*/
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: center;
  margin-top: 50px;
  padding: 0 20px;
  box-sizing: border-box;
  margin-bottom: 50px;
}

.cards{
  min-width: 200px;
  width: 100%;
  max-width: 400px;
  /*border: 1px solid red;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  text-decoration: none;
  color: black;
}

.historyImg{
  display: block;
  width: 100%;
  border: 1px solid black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-top: 10px;
}

.semesterGeneral{
  width: 100%;
  /*border: 1px solid blue;*/
  display: flex;
  flex-direction: column;
  margin: 0px 0px;
  background-color: rgba(0, 0, 0, 0.692);
  padding: 15px 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.semesterData{
  line-height: 0px;
  font-size: 13px;
  color: whitesmoke;
  margin: 10px 0px 10px 15px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
